*{
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body {
    margin: 0;
    padding: 2rem;
    display: grid;
    gap: 1rem;
    align-items: center;
    background: linear-gradient(135deg, #fbe8a6, #f2d28a, #c6863b); /* Gradiente con mayor contraste */
    text-align: center;
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.map-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    padding-bottom: 56.25%;
    margin: 20px auto;
    border: 25px solid transparent;
    border-image: url('images/Border-Imager.png') 125 repeat; /* Reduce 'slice' y usa 'repeat' */
    border-radius: 20px;
}




.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.arrow-container {
    margin-top: 20px;
    animation: spin 2s infinite linear;
}

/* Estilos de la flecha */
.arrow {
    font-size: 3em;
    color: #ff5733;
    transform: rotate(0deg); /* Inicia apuntando hacia abajo */
}

/* Animación para que la flecha gire */
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Inicia apuntando hacia abajo */
    }
    50% {
        transform: rotate(180deg); /* Giro hacia arriba */
    }
    100% {
        transform: rotate(360deg); /* Vuelta completa */
    }
}

h1{
    color: #ff5733;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Puedes usar una fuente moderna */
    font-style: italic; /* Cursiva */
    font-size: 2em; /* Tamaño grande */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para un toque bonito */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-top: 20px; /* Espacio en la parte superior */
    margin-bottom: 20px; /* Espacio en la parte inferior */
    >span:last-of-type{
        color: hsl(96, 100%, 49%);
    }
}
h2{
    color: #ff5733;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Puedes usar una fuente moderna */
    font-style: italic; /* Cursiva */
    font-size: 1.5rem; /* Tamaño grande */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para un toque bonito */
    letter-spacing: 2px; /* Espaciado entre letras */
    margin-top: 20px; /* Espacio en la parte superior */
    margin-bottom: 20px; /* Espacio en la parte inferior */
    >span:last-of-type{
        color: hsl(96, 100%, 49%);
    }
}
.countdown{
    --number-color: #ff5733;
    --text-color: #ff5733;
    --dot-color: hsl(0 0% 10%);
    --dot-color-remaining: black;
    --dot-color-active: hsl(0 100% 50%);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    width: min(60rem,100%);
    margin-inline: auto;
    container: inline-size;
    >.part{
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        >.remaining{
            grid-area: 1/1;
            color: hsl(0, 0%, 100%);
            display: grid;
            text-align: center;
            font-size: 6.5cqi;
            >.number{
                color: var(--number-color);
            }
            >.text{
                color: var(--text-color);
                text-transform: uppercase;
                font-size: 0.4em;
            }
        }
        >.dot-container{
            grid-area: 1/1;
            height: 100%;
            width: 4%;
            rotate: calc(360deg /var(--dots)* var(--dot-idx));
            >.dot{
                width: 100%;
                aspect-ratio: 1/1 ;
                background-color: #009688;
                border-radius: 50%;
                transition: background-color .25s;
                &[data-active=true]{
                    background-color: var(--dot-color-remaining);
                    &[data-lastactive=true]{
                        background-color: var(--dot-color-active);
                    }
                }
            }
        }
    }
    
}